.mojnav{
  background-color: darkslategray;
}
.tekstczerowny{
  color: red;
}
.tekstzielony{
  color: wheat;
  font-size: large;

}
.szerokosckontenerac{
  background-color: green;
}
#image{
  opacity:0.5;
}

