.mojnav{
  background-color: #012c00;
}
.tekstczerowny{
  color: #ffe692;
}
.tekstzielony{
  color: #f0c24a;
  font-size: large;

}
.szerokosckontenerac{
  background-color: #fee0bc;
}
#image{
  opacity:0.5;
}

