<nav class="mojnav uk-navbar-container uk-margin-auto " uk-navbar>
  <div class="uk-navbar-center">
    <div class=" uk-navbar-center-center">
      <ul class="uk-navbar-nav ">
        <a routerLink="/" class="tekstczerowny uk-navbar-item uk-logo uk-text-bold">POMIARY</a>
        <li>
          <a routerLink="/measur/list" class="tekstzielony">Lista</a>

        </li>
        <li class="uk-parent "><a routerLink="/measur/chart" class="tekstzielony">Wykres</a>
          <div class="uk-navbar-dropdown ">
            <ul class="uk-nav uk-navbar-dropdown-nav uk-text-bold  ">
              <li><a routerLink="/measur/chart" style="color: #000000; ">DZIEŃ</a></li>
              <li><a routerLink="/measur/chartW" style="color: #000000;">TYDZIEŃ</a></li>
              <li><a routerLink="/measur/chartAll" style="color: #000000;">MIESIĄC</a></li>
            </ul>
          </div>
        </li>
        <li class="uk-parent "><a routerLink="/measur/listL" class="tekstzielony">LINKOWNIA</a></li>
      </ul>
    </div>
    <a  (click)="doLogOut()" style="font-size: x-large; margin-left: 50px">LOGOUT</a>
  </div>

</nav>
<div class="uk-container uk-margin-medium-top-top  " >

  <router-outlet></router-outlet>
</div>

<!--style="background-image: url(https://c.pxhere.com/photos/b4/5b/blur_board_capacitors_chips_circuit_circuit_board_close_up_component-1536693.jpg!d);-->
