<div class="uk-container uk-margin-large-top  ">

  <table class="uk-table uk-table-striped">
    <thead>
    <tr >
      <th style="text-align: center">Id</th>
      <th style="text-align: center">Data</th>
      <th style="text-align: center">Temperatura</th>
      <th style="text-align: center">Wilgotność</th>
      <th style="text-align: center">INFORMACJE DODATKOWE</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pomiar of pomiary;let i = index" class="uk-width-1-6" >
      <td style="text-align: center">{{pomiar.id}}</td>
      <td style="text-align: center">{{pomiar.data}}  {{pomiar.godzina}}</td>
      <td style="text-align: center">{{pomiar.temperatura}} &#176;C</td>
      <td style="text-align: center">{{pomiar.wilgotnosc}}%</td>
      <td style="text-align: center" >{{pomiar.info}}</td>
      <td align="center">
        <a routerLink="edit/{{pomiar.id}}"><input type="button" class="uk-button uk-button-secondary uk-width-small" value="EDYTUJ INFO"></a>

      </td>
    </tr>
    </tbody>
  </table>

</div>

