 <div class="uk-container uk-margin-large-top  ">

    <table class="uk-table uk-table-striped">
      <thead>
      <tr >
        <th>Id</th>
        <th>Data</th>
        <th>Temperatura</th>
        <th>Wilgotność</th>
        <th>Dodatkowe info.</th>
         <th style="text-align: center">Edycja</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pomiar of pomiary; let i = index" class="uk-width-1-6" >
        <td>{{pomiar.id}}</td>
        <td>{{pomiar.data}}</td>
        <td>{{pomiar.temperatura}}</td>
        <td >{{pomiar.wilgotnosc}}</td>
        <td >{{pomiar.info}}</td>
        <td align="center">
        <a ><input type="button" class="uk-button uk-button-secondary uk-width-small" value="Dodaj info."></a>
        <a ><input type="button" class="uk-button uk-button-primary uk-width-small" value="Edytuj info"></a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

